<header class="page-header header container">
    <h1>Úvod</h1>
</header>

<div class="container">
    <p>Vítej <s>Výtej</s> v <mark>Matějově</mark> Centrále.</p>
    <p>
        Najdeš tu všechno možné <strong>včetně dat z elektrárny</strong>,
        v případě potřeby mě kontaktuj, nejlépe ústně.
    </p>
</div>