<header class="page-header header container">
    <h1>Kontakt</h1>
</header>

<div class="container">
    <p>Email: matej.tydli@gmail.com</p>
    <p><a href="https://github.com/MatejTydli" target="_blank">github</p>
</div>